@font-face {
  font-family: 'cairo';
  src: url('../fonts/cairo.ttf')
}

* {
  font-family: 'cairo';
  font-size: 16px;
}

body {
  background-color: #11162d;
}

#htdocs {
  padding: 5px;
  background-color: #faffae;
  height: 50px;
  // width: calc(100% - 60px);
}

#htdocs-favicon {
  user-select: none;
  -webkit-user-drag: none;
  float: left;
  margin-right: 10px;
  height: 50px;
}

#other-prjs {
  margin-top: 8px;
  background-color: white;
  height: calc(100vh - 84px);
  overflow-y: auto;
  // width: calc(100% - 50px);
  header {
    background-color: #dfdfdf;
    text-align: center;
  }
  .other-prj {
    padding: 5px;
    height: 30px;

    &:hover {
      background-color: #ebebeb;
    }

    .other-prj-favicon {
      height: 30px;
      width: 30px;
      float: left;
      margin-right: 8px;
      -webkit-user-drag: none;
    }
    .other-prj-title {
      user-select: none;
    }
  }

}
